* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}
/* header */

.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  top: -45px;
  z-index: 1;
}
.header .nav {
  padding: 52px 0 7px;
  display: flex;
  align-items: center;
}

.header .nav ul {
  display: flex;
  margin-left: 245px;
}

.header .action {
  margin-left: auto;
}

.header .nav ul li {
  padding: 19px;
}
.header .nav ul li a,
.nav .action .action-link {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav .action .action-link {
  margin-right: 24px;
}

.nav .action .action-btn {
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.header .nav ul li a:hover,
.header .nav .active {
  text-shadow: 1px 0 0 currentColor;
  color: #2f3a3b;
}

/* Hero */
.hero {
  margin-top: 50px;
}
.hero .body {
  display: flex;
}

/* Content-block */
.hero .content-block {
  margin-top: 132px;
  width: 40%;
}
.hero .media-block {
  position: relative;
  width: 60%;
}

.hero .content-block .subtitle {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .content-block .title {
  margin-top: 18px;
  min-width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}
.hero .control {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 52px;
  cursor: pointer;
}
.hero .content-block .control .hero-btn {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .content-block .control .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

/* Media-Block */

.media-block .image {
  border-radius: 10px;
  display: block;
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: auto;
}
.media-block .sumary {
  position: absolute;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  bottom: 46px;
  left: 63px;
}

.media-block .sumary-skillbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-block .sumary .title {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.media-block .container .skill-bar {
  width: 74px;
  height: 6px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
}

.media-block .container .skill-progress {
  height: 100%;
  background-color: #fb9899;
  border-radius: 10px;
}

.media-block .container .skill-end {
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  overflow: hidden;
}
.media-block .list-student {
  position: absolute;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  bottom: 41px;
  right: 45px;
}
.media-block .list-student .active-student {
  padding: 17px 35px;
}
.media-block .list-student .list {
  display: flex;
  align-items: center;
}
.media-block .list-student .list-avatar {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  margin-left: -10px;
}

.media-block .list-student .list-avatar:first-child {
  margin-left: 0;
}

.media-block .list-student .title {
  margin-bottom: 8px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.media-block .avt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background-color: #1ebfc1;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.media-block .course {
  position: absolute;
  top: 150px;
  left: 87px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .course .course-row {
  position: relative;
  padding: 17px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-block .course .title {
  margin-left: 16px;
}

.media-block .course .title::before {
  position: absolute;
  bottom: 25px;
  left: 24px;
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  background-color: #fff;
  border-radius: 12px;
}
/* features */

.features {
  margin-top: 210px;
}
.features .features-info span {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.features .features-info .title {
  width: 577px;
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.features .features-info .desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}
.features .features-info .info-row {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features .features-info .item-title {
  margin: 26px 0 16px 0;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features .features-info .item-desc {
  width: 223px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
}

/* course */

.course {
  margin-top: 130px;
}

.course .info-row .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.course .info-course .info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course .info-course .action-link {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.course span {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.course .info-course .title {
  margin: 18px 0 19px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}

.course .list-item-course {
  margin-top: 79px;
  display: flex;
  align-items: center;
  gap: 47px;
}

.course .item-course {
  position: relative;
}

.course .list-item-course .image-course {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.course .list-item-course .card {
  position: absolute;
  left: 17px;
  right: 17px;
  top: 332px;
  width: 325px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course .card .info-card {
  padding: 18px 0 29px 25px;
}

.course .info-card .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.course .info-card span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.course .info-card .desc-price {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.course .info-card .price {
  margin: 16px 0 6px 0;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.course .info-card .course-time {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.course .info-card .circle {
  width: 6px;
  height: 6px;
  background-color: #1ebfc1;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.course .info-card .circle:first-child {
  margin-left: 0;
}

/* countdown */
.countdown .content-countdown {
  width: 862px;
}
.countdown {
  margin-top: 390px;
}

.countdown .countdown-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.countdown .item-countdown strong {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}

.countdown .item-countdown .desc {
  margin-top: 11px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}
.testimonial {
  margin-top: 264px;
}
.testimonial .body {
  display: flex;
}

.testimonial .info {
  width: 35%;
}
.testimonial .media {
  width: 65%;
}

.testimonial .info .title {
  width: 419px;
  margin: 27px 0 33px 0;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.testimonial .info .author {
  position: relative;
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial .info span {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.testimonial .info .control {
  display: flex;
  gap: 30px;
  margin-top: 52px;
  color: white;
}
.testimonial .media {
  position: relative;
  margin-left: 72px;
}
.testimonial .media .avatar-1 {
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 235px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial .media .avatar-2 {
  position: absolute;
  bottom: 0;
  left: 166px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
}

.testimonial .media .avatar-3 {
  position: absolute;
  bottom: 100px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
}

.testimonial .media .avatar-4 {
  position: absolute;
  right: 32px;
  bottom: 29px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
}

.testimonial .media .avatar-5 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 92px;
  height: 92px;
  border-radius: 92px;
}
.testimonial .control .left :hover {
  opacity: 0.9;
  color: black;
}
.testimonial .control .right :hover {
  opacity: 0.9;
  color: black;
}
.testimonial .media .avatar-6 {
  position: absolute;
  right: 0;
  top: 19px;
  width: 110px;
  height: 110px;
  border-radius: 110px;
}

.base {
  margin-top: 130px;
  width: 100%;
  height: 272px;
  background: #def6f5;
}
.base .base-row {
  padding-top: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base .base-btn {
  margin-left: 410px;
  color: #fff;
  padding: 20px 41px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #2ac9bf;
}
.base .title {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}
.base .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}
